.skip-card {
  background-color: white;
  border-radius: 20px;
  transition: transform 0.2s ease;
  border: solid 1px var(--template-background-color);
  transition: box-shadow 0.2s ease;
}

.skip-card:hover {
  transform: translateY(-5px);
  border-color: var(--template-secondary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.skip-badge {
  background-color: var(--template-secondary-color) !important;
  color: white;
  font-size: 0.85rem;
}

.skip-price {
  color: var(--template-text-color);
  font-weight: bold;
}

.skip-button {
  border: 2px solid var(--template-text-color) !important;
  color: var(--template-text-color) !important;
  font-weight: 500 !important;
  transition: all 0.2s ease-in-out !important;
}

.skip-button:hover {
  background-color: var(--template-text-color) !important;
  color: white !important;
}

.selected-skip {
  border: 2px solid var(--template-secondary-color) !important;
}
