body {
  background-color: var(--template-background-color);
  color: var(--primary-text-color);
  font-family: "Segoe UI", sans-serif;
}

:root {
  --primary-text-color: #1b1b1b;
  --white-grey: #e0e0e0;
  --third-color: #e8f5e9;
  --template-text-color: #43a047;
  --template-background-color: #f1fff0;
  --template-secondary-color: #81c784;
  --blue-grey: #6c757d;
  --template-active: #198754;
  --light-grey: #ccc;
}
